<section class="section">
  <div class="error-page">
        <h1>Oops! Something went wrong.</h1>
        <h2>something went wrong creating a new account</h2>
        <p>{quote}</p>
        <a href="/" style="display: inline-block; background-color: #007bff; color: white; padding: 10px 20px; text-align: center; text-decoration: none; border-radius: 5px;">Go back to homepage</a>
    </div>
</section>